<div class="component1-container">
    <h3 class="component1-title">Component1</h3>
    <p class="component1-content">
        This is a sample component using Tailwind CSS with CSS isolation.
        The styles are processed from Component1.razor.tw.css to Component1.razor.css.
    </p>
    <div class="component1-special">
        Special styled content with gradient background
    </div>
</div>

@code {

}
